@using Empower.Model

@model ProviderHoursOfOperation

<div class="form-horizontal">
    <div class="row form-group-tight">
        <div class="col-xs-3">
            <div class="input-group">
                <div class="input-group-addon">
                    @Html.EditorFor(model => model.Sunday, new { @class = "ccmsisCheckbox" })
                </div>
                @Html.LabelFor(model => model.Sunday, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-xs-3">
            <div class="input-group">
                <div class="input-group-addon">
                    @Html.EditorFor(model => model.Monday, new { @class = "ccmsisCheckbox" })
                </div>
                @Html.LabelFor(model => model.Monday, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-xs-3">
            <div class="input-group">
                <div class="input-group-addon">
                    @Html.EditorFor(model => model.Tuesday, new { @class = "ccmsisCheckbox" })
                </div>
                @Html.LabelFor(model => model.Tuesday, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-xs-3">
            <div class="input-group">
                <div class="input-group-addon">
                    @Html.EditorFor(model => model.Wednesday, new { @class = "ccmsisCheckbox" })
                </div>
                @Html.LabelFor(model => model.Wednesday, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="input-group">
                <div class="input-group-addon">
                    @Html.EditorFor(model => model.Thursday, new { @class = "ccmsisCheckbox" })
                </div>
                @Html.LabelFor(model => model.Thursday, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-xs-3">
            <div class="input-group">
                <div class="input-group-addon">
                    @Html.EditorFor(model => model.Friday, new { @class = "ccmsisCheckbox" })
                </div>
                @Html.LabelFor(model => model.Friday, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-xs-3">
            <div class="input-group">
                <div class="input-group-addon">
                    @Html.EditorFor(model => model.Saturday, new { @class = "ccmsisCheckbox" })
                </div>
                @Html.LabelFor(model => model.Saturday, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
