<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <environment include="Development">
        <!-- external-style.css -->
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/kendo-2021.2.511/css/kendo.common-bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/kendo-2021.2.511/css/kendo.bootstrap.min.css" rel="stylesheet" />

        <!-- arise-public-access-site.css -->
        <link href="~/lib/custom-css/site.css" rel="stylesheet" />

        <!-- external-jquery-header.js -->
        <script src="~/lib/modernizr/modernizr.js"></script>
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-unobtrusive/jquery.unobtrusive-ajax.js"></script>
        <script src="~/lib/kendo-2021.2.511/js/kendo.all.min.js"></script>
        <script src="~/lib/kendo-2021.2.511/js/kendo.aspnetmvc.min.js"></script>
    </environment>

    <environment exclude="Development">
        <link href="~/css/external-style.css" rel="stylesheet" />
        <link href="~/css/arise-public-access-site.css" rel="stylesheet" />
        <script src="~/js/external-jquery-header.js"></script>
    </environment>
</head>
<body>
    @{
        var containerNavbarClasses = "container";

        if (ViewBag.ShowLeftNav == true)
        {
            containerNavbarClasses = "container-fluid";
        }
    }
    <div id="divNavbarWrapper" class="navbar navbar-default navbar-fixed-top">
        <div class="@containerNavbarClasses">
            @Html.Partial("_PublicAccessHeader")
            @if (ViewBag.ShowUserDetails != null && ViewBag.ShowUserDetails)
            {
                @Html.Partial("_UserDetails")
            }
        </div>
    </div>
    @Html.Partial("_PublicAccessFooter")
    @{
        var containerClasses = "container-fluid";
        var leftNavClass = String.Empty;

        if (ViewBag.ShowLeftNav == true)
        {
            leftNavClass = "container-with-nav";
        }

        containerClasses += " " + leftNavClass;
    }
    @if (ViewBag.ShowLeftNav == true)
    {
        <div class="@containerClasses" style="background-color: white; padding-top: 62px; padding-bottom: 40px;">
            <div class="row">
                <div class="col-xs-12">
                    <div style="display: flex;">
                        <div style="min-width: 250px;">
                            @Html.Partial("_LeftNavPartial")
                        </div>
                        <div style="flex-grow: 2; padding-left: 15px;">
                            @if (!string.IsNullOrWhiteSpace(ViewBag.PageTile))
                            {
                                <h2>@ViewBag.PageTitle</h2>
                            }
                            <div id="divValidationSummary" class="form-horizontal" style="display: none;">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="form-horizontal custom-validation-summary col-md-11">
                                            <div class="form-group form-group-tight">
                                                <div class="col-md-12">
                                                    <h4 class="text-danger" style="padding-left: 11px;">
                                                        <span class="k-icon k-i-warning"></span>
                                                        <span style="padding: 0 0 0 4px;">Please correct the following Errors</span>
                                                    </h4>
                                                </div>

                                            </div>
                                            <div class="form-group form-group-tight">
                                                <div class="col-md-12 " style="padding-left:25px; padding-bottom:10px">
                                                    <ul id="listValidationErrors">
                                                        @* Populated by ValidationSummary.js and the validationSummaryTemplate script (See scrips section below) *@
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="k-callout k-callout-n custom-callout"></div>
                                    </div>
                                </div>
                            </div>
                            <script type="text/x-kendo-template" id="validationSummaryTemplate">
                                # if (messages.length) { #
                                # for (var i = 0; i < messages.length; ++i) { #
                                <li>#= messages[i] #</li>
                                # } #
                                # } #
                            </script>
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState.Values.Any(v => v.Errors.Any(e => e.Exception != null)))
                            {
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="form-horizontal custom-validation-summary col-md-11">
                                                <div class="form-group form-group-tight">
                                                    <div class="col-md-12">
                                                        <h4 class="text-danger" style="padding-left: 11px;">
                                                            <span class="k-icon k-i-warning"></span>
                                                            <span style="padding: 0 0 0 4px;">Please correct the following Errors</span>
                                                        </h4>
                                                    </div>
                                                </div>
                                                @foreach (var item in ViewData.ModelState.Values)
                                                {
                                                    foreach (var error in item.Errors)
                                                    {
                                                        if (error.Exception != null)
                                                        {
                                                            <div class="form-group form-group-tight">
                                                                <div class="col-md-12" style="padding-left:25px; padding-bottom:10px">
                                                                    <ul>
                                                                        <li>@error.Exception.Message</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                }
                                            </div>
                                            <div class="k-callout k-callout-n custom-callout"></div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div id="contentBody" style="opacity: 0;">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>





                @*<div class="col-lg-3 col-md-3 col-xs-4" style="max-width: 250px;">
                </div>
                <div class="col-lg-9 col-md-9 col-xs-8">
                </div>*@
            </div>
        </div>
    }
    else
    {
        <div class="@containerClasses">
            <div class="row">
                <div id="contentBody" class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    }

    @*<div id="divPasswordWrapper">
            <div id="divPassword">
                @Html.Partial("_ChangePasswordPartial", new Arise.PublicAccess.Models.ManageUserViewModel { })
            </div>
        </div>*@

    <div>
        @(Html.Kendo().Window()
        .Name("ConfirmationBox")
        .Title("Delete Record")
        .Actions(a => a.Close())
        .Events(e => e.Close("CloseConfirmationPopup"))
        .Draggable(false)
        .Modal(true)
        .Scrollable(false)
        .Pinned()
        .Visible(false)
        .Width(300)
        .Content(@<text>
                    <div class="panel panel-default panel-marginless">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group form-group-marginless">
                                    <div class="col-md-12">
                                        <p>Are you sure you want to delete this record?</p>
                                    </div>
                                </div>
                                <div class="form-group form-group-marginless">
                                    <div class="col-md-12 text-center">
                                        <p>Continue?</p>
                                    </div>
                                </div>
                                <div class="form-group form-group-marginless">
                                    <div class="col-md-6">
                                        <input type="button" class="btn btn-primary" value="Delete" id="btnConfirmDelete" />
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <input type="button" class="btn btn-default" value="Cancel" id="btnCancel" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </text>)
        )

    </div>
    <div>
        @(Html.Kendo().Notification()
            .Name("CenteredPopup")
            .Stacking(NotificationStackingSettings.Up)
            .Events(e => e.Show("ShowCenteredPopup"))
            .Button(true)
            .AutoHideAfter(0)
            .Templates(t =>
            {
                t.Add().Type("error").ClientTemplateID("errorTemplate");
                t.Add().Type("saving").ClientTemplateID("savingTemplate");
                t.Add().Type("success").ClientTemplateID("savingSuccessTemplate");
                t.Add().Type("info").ClientTemplateID("infoTemplate");
                t.Add().Type("actionSuccess").ClientTemplateID("actionSuccessTemplate");
            })
            .Width(210)
        )

        <script id="savingTemplate" type="text/x-kendo-template">
            <div class="panel panel-default text-center" style="background-color: rgba(229, 245, 250, 0.701961); color: rgb(4, 135, 196); margin: 0; border-color: rgb(183, 225, 240);">
                <div class="panel-body">
                    <h4>
                        <span class="glyphicon glyphicon-floppy-save" style="top: 3px;"></span>
                        <span style="padding-left: 4px;">#= message #</span>
                    </h4>
                </div>
            </div>
        </script>
        <script id="infoTemplate" type="text/x-kendo-template">
            <div class="panel panel-default text-center" style="background-color: rgba(229, 245, 250, 0.701961); color: rgb(4, 135, 196); margin: 0; border-color: rgb(183, 225, 240);">
                <div class="panel-body">
                    <h4>
                        <span class="glyphicon glyphicon-info-sign" style="top: 3px;"></span>
                        <span style="padding-left: 4px;">#= message #</span>
                    </h4>
                </div>
            </div>
        </script>
        <script id="savingSuccessTemplate" type="text/x-kendo-template">
            <div class="panel panel-default text-center" style="background-color: rgba(0, 153, 0, 0.701961); color: rgb(255, 255, 255); margin: 0; border-color: rgb(0, 153, 0);">
                <div class="panel-body">
                    <h4>
                        <span class="glyphicon glyphicon-floppy-saved" style="top: 3px;"></span>
                        <span style="padding-left: 4px;">#= message #</span>
                    </h4>
                </div>
            </div>
        </script>
        <script id="actionSuccessTemplate" type="text/x-kendo-template">
            <div class="panel panel-default text-center" style="background-color: rgba(0, 153, 0, 0.701961); color: rgb(255, 255, 255); margin: 0; border-color: rgb(0, 153, 0);">
                <div class="panel-body">
                    <h4>
                        <span class="glyphicon glyphicon-ok-circle" style="top: 3px;"></span>
                        <span style="padding-left: 4px;">#= message #</span>
                    </h4>
                </div>
            </div>
        </script>
        <script id="errorTemplate" type="text/x-kendo-template">
            <div class="panel panel-default" style="background-color: rgba(255, 0, 0, 0.701961); color: rgb(255, 255, 255); margin: 0; border-color: rgb(255, 0, 0); ">
                <div class="panel-body">
                    <h4 style="margin-top: 0;">
                        <span class="glyphicon glyphicon-floppy-remove" style="top: 3px;"></span>
                        <span style="padding-left: 4px;">#= title #</span>
                    </h4>
                    <p>#= message #</p>
                </div>
            </div>
        </script>
    </div>

    <environment include="Development">
        <!-- external-jquery-footer.js -->
        <script src="~/lib/respond/respond.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

        <!-- arise-public-access-validation.js -->
        <script src="~/lib/custom-js/ValidationStyling.js"></script>
        <script src="~/lib/custom-js/ValidationAmtCompare.js"></script>
        <script src="~/lib/custom-js/ValidationDateCompare.js"></script>
        <script src="~/lib/custom-js/ValidationFutureDate.js"></script>
        <script src="~/lib/custom-js/ValidationFutureOrTodayDate.js"></script>
        <script src="~/lib/custom-js/ValidationGridRequests.js"></script>
        <script src="~/lib/custom-js/ValidationMaxDateCompare.js"></script>
        <script src="~/lib/custom-js/ValidationMaxInclusiveValueCompare.js"></script>
        <script src="~/lib/custom-js/ValidationMinInclusiveValueCompare.js"></script>
        <script src="~/lib/custom-js/ValidationMinValueCompare.js"></script>
        <script src="~/lib/custom-js/ValidationMustBeAge.js"></script>
        <script src="~/lib/custom-js/ValidationNotFutureDate.js"></script>
        <script src="~/lib/custom-js/ValidZip.js"></script>

        <!-- arise-public-access-site.js -->
        <script src="~/lib/custom-js/ModuleLayout.js"></script>
        <script src="~/lib/custom-js/ConfirmationPopup.js"></script>
        <script src="~/lib/custom-js/CustomNotifications.js"></script>
        <script src="~/lib/custom-js/site.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/js/external-jquery-footer.js"></script>
        <script src="~/js/arise-public-access-validation.js"></script>
        <script src="~/js/arise-public-access-site.js"></script>
    </environment>

    <script src="~/js/DocumentUploadViewComponent.js"></script>
    <script src="~/js/DialogViewComponent.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    @Html.RenderPartialSectionScripts()
</body>
</html>
